

h1 {
    font-family: megavolt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.6vw;
    margin: 5px;
    
  }
  
  h2 {
    font-family: citrus-gothic-solid, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4vw;
    margin:0px;
    color:#faec2e;
    text-shadow: 5px 5px 5px #af6793;


  }
  h3 {
    font-family: shader-inline, monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin:15px;
    color: #faec2e;
    text-shadow: 1.5px 1.5px 1px #000000;
  }

  a {
    color:#faec2e;;
    text-shadow: 1.2px 1.2px 1px #8F59AE;
    text-decoration: none;
    font-size:15px;
  }

  p {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 20px;
    color: #faec2e;;
    text-shadow: 1.2px 1.2px 1px #000000;
    
  }


body {
    margin: 0px;

}


.header {
    background-color: #3a0cb9;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #faec2e;
    text-shadow: 5px 5px 5px #af6793;
}

footer {
    background-color: #465e94;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text {
  color: #E9FA00;
}

.front-container {
    background: 
    linear-gradient(
    to top left,
    #7C72A0,
    #7C72A0 20%,
    #4C3993 20%, 
    #4C3993 40%,
    #7C72A0 40%,
    #7C72A0 60%,
    #4C3993 60%,
    #4C3993 80%,
    #4C3993 80%);
    
    text-align: center;
    width: 100%;
    min-height:100vh;
    ;
}

* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33%;
    padding: 20px 20px
  }

  .row {margin: 0 -5px;}

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
 
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  .card {
    max-width: 300px;
    min-height: 550px ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.0) ;
    margin: 15px;
  }

